<%- include('../partials/header') %>

  <h1>Monthly Statement List</h1>
  <table>
    <thead>
      <tr>
        <th>Content</th>
      </tr>
    </thead>
    <tbody>
      <% monthlystatements.forEach(function(m) { %>
        <li>
          <%= m.content %>
          <form action="/monthlystatements/<%= m.id %>?_method=DELETE"
            id="delete-form" method="POST">
            <button type="submit">X</button>
          </form>
          <a href="/monthlystatements/<%= m.id %>"><%= m.todo %></a>
        </li>
      <% }); %>
    </tbody>
  </table>


  <%- include('../partials/footer') %>