<%- include('../partials/header') %>

<section id="show-page">
  <div>MonthlyStatment: </div>
  <div><%= monthlystatement.content %></div>
  
<br><br>
<h2>Comments</h2>
<% if (user) { %>
  <form id="add-comment-form" method="POST" action="/monthlystatements/<%= monthlystatement._id %>/comments">
    <label>Comment:</label>
    <textarea name="content"></textarea>
         <input type="submit" value="Add Review"> 
  </form> 
<% } %>

<% if (monthlystatement.comments.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Comment</th>
        <!-- Add this placeholder heading -->
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %>
      <% monthlystatement.comments.forEach(function(m) { %>
        
        <tr>
          <td class="comment-user"><%= m.userName %></td>
          <td><%= m.content %></td>
          <!-- Add this td -->
          <td>
            <% if (user && user._id.equals(m.user)) { %>
              <form action="/comments/<%= m._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
            <% } %>
          </td>
          <td> <a href="/comments/<%= m._id %>/edit"> edit comment</a> </td>
        </tr>
      <% }); %>
      <tr>
        <td colspan="3"></td>
        
      </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Comments Yet</h5>
<% } %>


<%- include('../partials/footer') %>